@model List<Park>
<a href="~/Views/Home/Index.cshtml">~/Views/Home/Index.cshtml</a>
@{
    ViewData["Title"] = "Home Page";
}

<div class="parkbox">
    @for (int i = 0; i < Model.Count; i++)
    {
        <div class="pictures"><img src="~/images/parks/@(Model[i].ParkCode).jpg" /></div>
        <div class="parkdescription">
            <div class="name">
            <h2>@Model[i].ParkName</h2>
            </div>
            <div class="description">
            <p>@Model[i].ParkDescription</p>
            </div>
        </div>
    }

    
</div>