@model List<SurveyResultsViewModel>
@{
    ViewData["Title"] = "Survey_Results";
}

<section id="survey-section">
    @{
        int rank = 1;
    }
    @foreach (var survey in Model)
    {
        <section>
            <div>
                <p>

                </p>
            </div>
            <div class="parksurvey">
            

                <a href="~/Home/Detail/@survey.ParkCode"><img src="~/images/parks/@(survey.ParkCode).jpg"></a>

                <div>
                    <a style="text-decoration:none; color: black;" href="~/Home/Detail/@survey.ParkCode"><h1>@survey.ParkName</h1></a>
                </div>

                <div class="surveycount">
                    Number of votes: @survey.NumberOfSurvey
                </div>
            </div>
     
        </section>
      
    }
</section>
<p class="gototop"><a href="#top">Go to top</a></p>
