@model List<SurveyResultsViewModel>
@{
    ViewData["Title"] = "Survey_Results";
}

<section id="survey-section">

    @foreach (var survey in Model)
            {
                <section>
                    <img src="~/images/parks/@(survey.ParkCode).jpg">
                    <div>
                        <strong>@survey.ParkName</strong>
                    </div>

                    <div>
                        @survey.NumberOfSurvey
                    </div>
                </section>
            }
        </section>
