@model Survey
@using Capstone.Web.DAL
@{
    ViewData["Title"] = "Survey";
}

<form asp-controller="Home" asp-action="Survey" method="post">

    <section class="centeredPanel">
        <h2><strong>New Survey</strong></h2>
        <div>
            <label asp-for="ParkCode">Favorite National Park</label>
            <select asp-for="ParkCode" asp-items="NPGeekDAL.GetParkCodeList()"></select>
        </div>
        <div>
            <label asp-for="EmailAddress">Your email</label>
            <input type="text" asp-for="EmailAddress" />
            <span class="validation" asp-validation-for="EmailAddress"></span>
        </div>
        <div>
            <label asp-for="State">State of residence</label>
            <select asp-for="State" asp-items="NPGeekDAL.GetAllStates()"></select>
        </div>
        <div>
            <label asp-for="ActivityLevel">Activity Level</label>
            <input type="radio" asp-for="ActivityLevel" value="Inactive" checked/>Inactive
            <input type="radio" asp-for="ActivityLevel" value="Sedentary" />Sedentary
            <input type="radio" asp-for="ActivityLevel" value="Active" />Active
            <input type="radio" asp-for="ActivityLevel" value="Extremely Active" />Extremely Active
        </div>
        <div class="button">
            <input type="submit" value="Submit" />
        </div>
    </section>
</form>
