@model List<Survey>
@{
    ViewData["Title"] = "Survey_Results";
}

<section id="forum-section">

    @*@foreach (var survey in Model)
    {
        <section>
            <div>
                <strong>@survey.</strong>
            </div>

            <div>
                by @post.Username on @post.PostDate
            </div>

            <div>
                @post.Message
            </div>
        </section>
    }*@
</section>

    </section>

